@import "variables";

.guest {
  width: 100%;
  height: auto;
  background-color: $globalColor;
  padding: 50px 10%;

  & > .topTitle {
    width: 100%;
    height: auto;
    text-align: center;

    & > h2 {
      color: #494949;
      font-family: Oswald, sans-serif;
      font-size: 38px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 7px;
    }
  }

  .globContainer {
    .swiper {
      padding: 5rem 0;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      transition: transform 0.4s ease;
    }

    .swiper-slide-active .guestCard {
      transform: scale(1.1);
      z-index: 2;
    }

    .guestCard {
      position: relative;
      width: 350px;
      height: 550px;
      border-radius: 30px;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.4s ease;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

      .leftLabel {
        width: 80px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #1a1a1a;
        border-top-right-radius: 16px;
        padding: 1rem 1.5rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-family: 'Oswald', sans-serif;


        p {
          font-size: 1.1rem;
          color: #ffc857;
          font-weight: bold;
          margin: 0;

        }

        span {
          font-size: 0.8rem;
          color: #aaa;

        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #fff;

      &:after {
        font-size: 20px;
      }
    }
  }
}