.play-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: pulse 2s ease-in-out infinite;

  @media (max-width: 520px) {
    width: 40px;
    height: 40px;
  }
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }

  &.playing {
    background-color: darken(#FF5733, 10%);
  }

  .play-triangle {
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);

    &.pause {
      border: none;
      width: 6px;
      height: 20px;
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 4px;

      &::after {
        content: '';
        width: 6px;
        height: 20px;
        background: white;
      }
    }
  }
}

/* Модальное окно для видео */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #000;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &:not(:focus) {
    outline: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}